*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif

} 

img{
    width: 20px;
    height: 20px;
    
}  

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

section .container .contact-info{
    position: absolute;
    top: 40px;
    width: 358px;
    height: 450px;
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contact-info h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

section .container .contact-info .info{
    position: relative;
    margin: 20px 0;
}

section .container .contact-info .info li{
    position: relative;
    list-style: none;
    margin: 20px 0;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    
}

section .container .contact-info .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

section .container .contact-info .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

section .container .contact-info .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

section .container .contact-info .info li:hover span:nth-child(1) img,
section .container .contact-info .info li:hover span:nth-child(2){
    opacity: 1;
}

section .container .contact-info .sci{
    position: relative;
    display: flex;
}

section .container .contact-info .sci li{
    list-style: none;
    margin-right: 15px;
}

section .container .contact-info .sci li a{
    text-decoration: none;
}

section .container .contact-info .sci li a img{
    filter: invert(1);
    opacity: 0.5;
}

section .container .contact-info .sci li:hover a img{
    opacity: 1;
}

section .container .contact-form{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    width: calc(100% - 150px);
    height: 98%;
    margin-left: 150px;
    padding-left: 250px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
} 

section .container .contact-form h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 400;
}

section .container .contact-form .form-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .contact-form .form-box .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

section .container .contact-form .form-box .inputBox.w50{
    width: 47%;
}

section .container .contact-form .form-box .inputBox.w100{
    width: 100%;
}

section .container .contact-form .form-box .inputBox input,
section .container .contact-form .form-box .inputBox textarea
{
    width: 100% !important;
    margin: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .contact-form .form-box .inputBox textarea{
    min-height: 120px;
}

section .container .contact-form .form-box .inputBox span{
    position: absolute;
    left: 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

section .container .contact-form .form-box .inputBox  input:focus ~ span,
section .container .contact-form .form-box .inputBox  textarea:focus ~ span,
section .container .contact-form .form-box .inputBox  input:valid ~ span,
section .container .contact-form .form-box .inputBox  textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;

}

section .container .contact-form .form-box .inputBox  input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #03a9f4;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

section .container .contact-form .form-box .inputBox  input[type="submit"]:hover{
    background: #ff568c;
}
